@import "../../../../css/variables";

.practice-areas {
  background-color: $primary-color;
  color: $neutral;
  padding-bottom: 80px;

  h2 {
    padding-bottom: 40px;
    color: $neutral;
  }

  .image-only-card {
    height: auto;
    min-height: 200px;
    background-position: center;
    background-size: 100%;
    transition: background-size 1s;
    border: 1px solid $neutral;

    h2 {
      font-size: $header-3 !important;
    }

    &:hover {
      background-size: 120%;
    }
  }
}

#practice-area-card-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

#practice-area-button-wrapper {
  margin-top: 40px;
}
