@import "../../../../css/variables";

.our-philosophy {
  color: $primary-color;
  margin-bottom: 80px;
  position: relative;
  background-color: $neutral;

  span {
    display: block;
    margin-top: 40px;
    text-align: left;
  }
}
