@import "../../../../css/variables";

.what-customers-say {
  background-color: $primary-color;
  padding-bottom: 80px;

  h2 {
    color: $neutral;
  }

  .customer-review-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 80px;
  }

  .view-more-reviews-button-container {
    display: flex;
    justify-content: center;
    
    a {
      margin-top: 40px;
    }
  }
}
