$primary-color: #264166;
$secondary-color: #34598B;
$tertiary-color: #4E698E;
$quarternary-color: #587398;
$quinternary-color: #A8C3E8;
$sexternary-color: #BCD7FC;

$gray: #B4B4B4;
$light-gray: #E6E6E6;
$neutral: #FFFFFF;
$anti-neutral: #000000;
$transparent-black: rgba(0, 0, 0, .8);

$success: #8CD971;
$error: #EB7373;

$header-1: 56.8px;
$header-2: 42.6px;
$header-3: 32px;
$general: 24px;
$body: 18px;