@import "../../../css/variables";

.no-papeles {
  position: relative;
  background-color: $primary-color;
  color: $neutral;
  padding-bottom: 80px;
  margin-top: 80px;

  h2 {
    color: $neutral;
  }

  .no-papeles-quote {
    margin-top: 40px;
    display: block;
  }
}
