@import "../../../css/variables";

section.lee-olive-quote {
    background-image: url("../../../assets/images/backgrounds/Inside_Court_Room_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $transparent-black;
    background-blend-mode: multiply;
    
    h1.quote {
        color: $neutral;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}