@import "../../css/variables";

.card {
  &.image-only-card {
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;

    img {
      height: 100%;
    }

    h4 {
      color: $neutral;
      font-weight: bold;
      text-align: center;
      margin-top: auto;
    }

    @media (max-width: 768px) {
      width: 45vw;
    }

    @media (min-width: 768px) {
      width: 25vw;
    }
  }

  &.image-and-body-card {
    width: 25vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    border: 1px solid $primary-color;

    img {
      min-width: 100%;
      border-radius: 4px;
    }

    h3 {
      font-weight: bold;
    }

    h3,
    p {
      color: $primary-color;
      //margin-top: auto;
      padding-top: 10px;
      text-align: left;
    }

    .card-button-wrapper {
      gap: 10px;
      padding-top: 10px;
      button {
        width: 100%;
      }
    }
  }
}
