@import "../../../css/variables";

.practice-areas {
  background-color: $primary-color;
  color: $neutral;
  padding-bottom: 40px;

  h2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#practice-area-button-wrapper {
  margin-top: 40px;
}

#practice-area-card-wrapper {
  gap: 15px;
}

.practice-card {
  background-color: $neutral;
  color: $primary-color;
  display: grid;
  padding: 15px;
  min-width: 200px;
  width: 22.5%;
  min-height: 200px;
  svg {
    color: $tertiary-color;
  }

  span {
    display: inline-block;
    margin-top: 40px;
    font-weight: bold;
  }

  &:hover {
    box-shadow: 0px 4px 3px 0px $quinternary-color;

    span {
      color: $tertiary-color;
    }

    svg {
      color: $quinternary-color;
    }
  }
}
