@import "../../css/variables";

.about-us-container {
  .page-title {
    color: $neutral;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p.about-us-paragraph {
    color: $neutral;
    font-size: $header-3 !important;
  }

  .certification-badge {
    max-width: 150px;
  }

  .about-us-intro,
  .about-us-certifications,
  .about-us-our-philosophy {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about-us-intro,
  .about-us-our-philosophy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
  }

  .about-us-intro {
    background-image: url("../../assets/images/backgrounds/Courthouse.png");

    h2 {
      color: $neutral;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }

  .about-us-certifications,
  .about-us-our-philosophy {
    h2 {
      font-weight: bold;
      padding-bottom: 40px;
      text-align: center;
    }
  }

  .about-us-certifications {
    background-color: $gray;

    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      color: $primary-color;
    }

    .about-us-certifications-wrapper {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px 100px;
    }
  }

  .about-us-our-philosophy {
    background-color: $neutral;
    height: fit-content;

    h2, p {
      color: $primary-color;
    }
  }
}
