@import "../../css/variables";

.admin-home-container {
  h1.page-title {
    margin-bottom: 40px !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .admin-home-greeting-wrapper {
    color: $primary-color;
  }

  .admin-home-options-wrapper {
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .button.admin-menu-button {
      width: 100%;
    }
  }

  .failed-to-fetch-warning {
    color: $error;
    background-color: $light-gray;
    padding: 20px;
    margin-bottom: 40px;
  }
}
