@import "../../css/variables";

.admin-home-container {
  h1.page-title {
    margin-bottom: 40px !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .admin-home-options-wrapper {
    
  }
}
