@import "../../css/variables";

.failed-to-fetch-warning {
  color: $error;
  background-color: $light-gray;
  padding: 20px;
  margin-bottom: 40px;
}

.view-new-cases-container {
  h1.page-title {
    margin-bottom: 40px !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .view-new-case-wrapper {
    .pending-case-wrapper {
      .pending-case-card-wrapper {
      }

      .pending-case-button-wrapper {
        padding-top: 40px;
        padding-bottom: 80px;
        gap: 20px;
      }

      .case-approved-message {
        color: $neutral;
        background-color: $primary-color;
        margin-top: 20px;
        padding: 20px;
      }
    }
  }
}

.view-all-cases-container {
  h1.page-title {
    margin-bottom: 40px !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .view-all-cases-filters-wrapper  {
    padding-bottom: 20px;
  }
  
  .view-all-cases-wrapper {
    gap: 10px;
    padding-bottom: 40px;
    flex-wrap: wrap;

    .button {
      display: flex;
      justify-content: center;
    }

    .button > svg.left-icon:first-child {
      padding-right: 0px;
    }
  }
  
  .case-filtering-section {
    a.page-link {
      height: 100%;
    }
  }
}
