@import "../../css/variables";

.community-interaction-container {
  .page-title {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .giving-back-to-community {
    color: $primary-color;
    padding-top: 40px;
    padding-bottom: 40px;

    h2:first-of-type {
      padding-bottom: 20px;
    }
  }

  .community-interaction-info-wrapper {
    background-image: url(../../assets/images/backgrounds/Community_Interaction.png);
    background-size: cover;
    background-repeat: no-repeat;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    padding-top: 40px;
    padding-bottom: 40px;

    .image-and-body-card {
      @media (max-width: 576px) {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
      }

      height: auto;
    }
  }
}
