@import "../../css/variables";

.community-interaction-container {
  .page-title {
    padding-bottom: 40px;
  }

  .community-interaction-info-wrapper {
    background-image: url(../../assets/images/backgrounds/Community_Interaction.png);
    background-size: cover;
    background-repeat: no-repeat;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    padding-top: 40px;
    padding-bottom: 40px;
  }
}
