@import "../../css/variables";

.page-title {
  color: $neutral;
}

.login-form-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
}

#admin-login-button-1 {
  width: 100%;
}

.forgot-password-wrapper {
  margin-bottom: 80px;
}

@media (max-width: 576px) {
  div.login-container .login-form-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 576px) {
  .login-form-wrapper {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .login-form-wrapper {
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .login-form-wrapper {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
}
.login-form-wrapper {
  max-width: 65%;
}

@media (min-width: 1400px) {
  .login-form-wrapper {
    max-width: 60%;
  }
}
