@import "../../css/variables";

.manage-employees-container {
  h1.page-title {
    margin-bottom: 40px !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .manage-employees-cards {
    padding-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  #add-new-employee {
    margin-bottom: 40px;
  }
}
