@import "../../css/variables";

.our-results-container {
  .page-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .our-results-wrapper {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 40px;
    background-color: $neutral;

    @media (max-width: 576px) {
      gap: 10px;
      padding-left: 20px;
      padding-right: 20px;

      .individual-result-container {
        width: 100%;
        margin-bottom: 0px;
      }

      .individual-result-container:last-of-type {
        margin-bottom: 40px;
      }
    }
  }
}
