@import "../../css/variables";

.our-results-container {
  .page-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .our-results-wrapper {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 40px;
    background-color: $neutral;
  }

  .results-disclaimer-wrapper {
    background-color: $gray;
    color: $primary-color;
    padding-top: 40px;
    padding-bottom: 40px;

    h3 {
      padding-bottom: 40px;
      font-weight: bold;
    }
  }
}
