@import "../../css/variables";

.page-not-found-container {
  .page-not-found-wrapper {
    background-image: url("../../assets/images/backgrounds/North_Carolina_Courthouse.png");
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  h1.full-flex {
    color: $neutral;
    font-weight: bold;
  }

  h3.full-flex {
    color: $light-gray;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .button {
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;
  }
}
