@import "../../../css/variables";

.our-philosophy {
    color: $primary-color;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    background-color: $neutral;
    
    &.extra-top-padding {
        padding-top: 40px;
    }
    
    span {
        display: block;
        margin-top: 40px;
        text-align: left;
    }
}