@import "../../../css/variables";

.tell-your-story {
    background-image: url("../../../assets/images/backgrounds/Judge_Gavel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $transparent-black;
    background-blend-mode: multiply;
    padding-top: 80px;
    padding-bottom: 80px;
    
    .tell-us-your-story-button-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        
    }
    
    h2 {
        color: $neutral;
    }
}