@import "../../../../css/variables";

.our-results {
  background-color: $tertiary-color;

  .our-results-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 40px;
  }

  h2 {
    color: $neutral;
    padding-bottom: 40px;
  }

  .view-more-results-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
