@import "../../../../css/variables";

.our-results {
  background-color: $neutral;

  .our-results-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 576px) {
      gap: 10px;
      
      .individual-result-container {
        width: 100%;
        margin-bottom: 0px;
      }
    }
  }

  h2 {
    padding-bottom: 40px;
  }

  .view-more-results-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
