@import "../../../../css/variables";

.our-attorneys {
  h2,
  h3 {
    color: $primary-color;
  }

  h3 {
    text-align: center;
  }

  .attorney-showcase-container {
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 80px;

    a {
      text-decoration: none;
    }
  }

  .attorney-showcase {
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    &:hover {
      .button-container {
        opacity: 100%;
      }
    }

    img {
      max-width: 333px;
      margin-bottom: 40px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 50%;
      right: 25%;
      opacity: 0%;
    }
  }
}
