@import "../../../css/variables";

.our-results {
   background-color: $tertiary-color;
   
    h2 {
        text-align: center;
        color: $neutral;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    
    table {
        padding-bottom: 40px
    };
    
    .view-more-results-container {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 80px;
    }
}