@import "../../../css/variables";

.primary-call-to-action {
  margin-top: 7.5%;
  margin-bottom: 80px;

  .juan-sanchez-quote {
    font-size: $header-1;
    color: $neutral;
  }
}

.primary-call-to-action-button-wrapper {
  margin-top: 40px;
}
